{% extends 'base.html.twig' %}

{% block title %}
Catégories
{% endblock %}

{% block body %}
<h1 class="text-center pt-3">Catégories</h1>

<div class="row mx-auto justify-content-center align-items-center pt-5">

    {% for categorie in categories %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 ">
        <div class="card mb-3 mx-auto" style="width: 18rem;">
            <h3 class="card-title text-center pt-3 bla  ">{{categorie.libelle}}<h3>
            <img class=" mx-auto mt-3 categories" src={{categorie.image}} alt="categoriePhoto" style="height: 250px; width: 70%; display: block;">
            <div class="card-body">
                <a href="{{path('categorie', {'id': categorie.id})}}" class="btn btn-success btn-block text-center w-100 mt-3" >Détails ...</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
